.SongList {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  gap: 0.5rem;

  .cover {
    width: 80px;
    height: 45px;
    object-fit: cover;
    background-color: var(--color-border);
  }

  .label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    font-size: 1rem;
  }

  .artist {
    font-size: 0.8rem;
    /* font-weight: bold; */
    color: var(--color-text);
  }

  &.selected {
    background: var(--color-border);
    cursor: default;
  }
}
