.SongList {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-border);
  padding: 0.5rem;
  border-radius: 0 var(--border-radius) var(--border-radius)
    var(--border-radius);
  width: calc(100% - 2 * var(--note-height) - 1rem);
  max-width: calc(20 * var(--note-height));
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.25rem;
  border-radius: var(--border-radius);

  .cover {
    flex-shrink: 0;
    width: calc(5 * var(--note-height));
    /* ratio 16:9 */
    height: calc(5 * var(--note-height) / 16 * 9);
    object-fit: cover;
    background-color: var(--color-border);
    border: 1px solid var(--color-border);
  }

  .label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    font-size: 1rem;
    font-weight: bold;
  }

  .artist {
    font-size: 0.7rem;
  }

  &.selected {
    background: var(--color-cursor);
    cursor: default;
    color: var(--color-background);
  }
}
