.Cursor {
  position: absolute;
}

.movable {
  position: absolute;
  height: var(--note-height);
  width: var(--note-height);
  transition: opacity 0.5s ease-in, transform 0.1s ease-out;
}

.ball {
  position: absolute;
  left: calc(-1 * var(--note-height) / 2);
  background-color: var(--color-cursor);
  height: var(--note-height);
  width: var(--note-height);
  border-radius: var(--note-height);
  border: 1px solid var(--color-background);
  overflow: hidden;
  transition: opacity 0.25s ease-out;

  &.accent {
    background-color: var(--color-accent);
  }
}
