.ProgramItem {
  position: absolute;
  height: var(--note-height);
  width: var(--note-height);
}
.movable {
  position: absolute;
  width: 100%;
  height: var(--note-height);
  opacity: 0;
}

.text {
  position: relative;
  display: block;
  text-align: center;
  position: absolute;

  width: calc(var(--note-height) * 4);
  left: calc(50% - (var(--note-height) * 2));
  bottom: 100%;
  font-size: 14pt;

  /* &.narrow {
    bottom: 150%;
  } */
}

.shape {
  position: absolute;
  inset: 0;
  background-color: var(--color-note);
  border-radius: var(--note-height);
  border: 1px solid var(--color-background);
  overflow: hidden;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.passed {
  position: absolute;
  inset: 0;
  background-color: var(--color-passed);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.good {
  position: absolute;
  inset: 0;
  background-color: var(--color-good);
  opacity: 0;
}
