.Track {
  position: relative;
  height: calc(24 * var(--note-height));
  width: 1000px;
  border: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--color-border);
}

.background {
  position: absolute;
  height: 100%;
  width: 200%;
  background-image: radial-gradient(
    var(--color-cursor) 1px,
    transparent 1px
  );
  background-size: calc(6 * var(--note-height)) calc(6 * var(--note-height));
  opacity: 0.5;
}
