.HidePanel {
  transition: transform 0.2s ease-out;
  &.hidden {
    transform: translateX(-100%);
  }
}

.button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  &.left {
    left: calc(0.5rem + 100%);
  }
}
