.HidePanel {
  transition: transform 0.2s ease-out;
  &.hidden {
    transform: translateX(-100%);
  }
}

.button {
  position: absolute;
  top: 1rem;
  left: 1rem;

  &.left {
    left: calc(1rem + 100%);
  }
}
